.navbarbgclr{
	background-color: black;
}
.clrblack{
	color: black;
}
.clrwhite{
	color: white;
}
h2{
	color: white;
}
h2:hover{
	color: orange;
}
.btn-default{
	background-color: white;
	color: black;
	margin-left: 5px;
}
.btn-default:hover{
	background-color: orange;
	color: black;
}
.fas{
	font-size: 20px;
}


@media (max-width: 700px){
	#searchbar{
		display: none;
	}
	.btn-default{
		display: none;
	}
}