

*{
	box-sizing: border-box;
}

body{
	background: #f2f2f2;
	color:#0d0d0d;
	line-height: 1.4;
	font-family: 'Segoe UI',Geneva,Verdana,sans-serif;
	padding: 1em;

}

.container{
	max-width: 1170px;
	margin-left:auto;
	margin-right:auto;
	padding:1em;

}

/* Bilde
.brand{    

}
*/

.grid{
	box-shadow:  0 0 20px 0 rgba(13, 13, 13);

}

.grid > * {
	padding: 1em;
}

.section-1{
	background:#0d0d0d;
	color:#ffffff;
}
.section-1 h1, .section-1 p{
	text-align: center;
	margin:0 0 1rem 0;
}


.logIn-link {
	text-align: center;
	
}
.logIn-link a {
	color:#ffff33;

}
.logIn-link a:hover {
    color: #b3b300;
}


/* Form */

.section-2 form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:20px;
}
.section-2 label{
	display:block;
}
.section-2 form p{
	margin:0;
}
.section-2 form .btn{
	grid-column: 1 / 2;
}

.section-2 form button, .section-2 form input{
	width: 100%;
	border:1px solid black;

}
.section-2 form button{
	background:#0d0d0d;
	color:#ffffff;
	border:0;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section-2 form button:hover,.section-2 form button:focus{
	outline: 2px solid yellow;
	color:#ffff33;
	transition: outline,color 3s ease-out;
}


/* Stort vindu */

@media(min-width:770px){


	.grid{
		display:grid;
		grid-template-columns:1fr 2fr;
	}
	.container{
	margin-left:auto;
	margin-right:auto;
	padding:1em;
	

}
	.grid > * {
		padding:6em;
	}
	.section-2 form .btn{
	grid-column: 1/2;
}


}
@media(max-width:386px){



body{
	background: #f2f2f2;
	color:#0d0d0d;
	line-height: 1.4;
	font-family: 'Segoe UI',Geneva,Verdana,sans-serif;
	padding: 0;
	margin: 0;

}
.container{
	margin-left:0;
	margin-right:0;
	padding:0;
	
	

}

}