.navbarbgclr{
	background-color: black;
}
.clrblack{
	color: black;
}
.clrwhite{
	color: white;
}
.navmargin{
	margin-left: 20px;
}

h2{
	color: white;
}
h2:hover{
	color: orange;
}
.btn-default{
	background-color: white;
	color: black;
	margin-left: 5px;
}
.btn-default:hover{
	background-color: orange;
	color: black;
}
.fas{
	font-size: 20px;
}
#login{
	display: none;
}
#cart{
	display: none;
}


@media (max-width: 930px){
	#searchbar{
		display: none;
	}
	.btn.btn-default:nth-child(1){
		display: none;
	}
	#login{
		display: none;
	}
	#cart{
		display: none;
	}
}

@media (max-width: 768px){
	.btn.btn-default{
		display: none;
	}
	#login{
		display: list-item;
	}
	#cart{
		display: list-item;
	}
}