html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Svart backgrunn med opactiy når den bytter bilde */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fader {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 4.5s;
}

@-webkit-keyframes fader {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fader {
  from {opacity: .4} 
  to {opacity: 1}
}