/*kun skalert for mobil nå*/
/*Innholdet på siden*/
*{
  margin: 0;
  padding: 0;
}
.content{
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
	". card card ."
	". card1 card2 ."
	". card3 card4 .";
	background-color: white;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.card{
	grid-area: card;
	background-color: black;
	height: 130px;
	width: 330px;
}
.card1{
	grid-area: card1;
	background-color: black;
	height: 130px;
	width: 155px;
}
.card2{
	grid-area: card2;
	background-color: black;
	height: 130px;
	width: 155px;
}
.card3{
	grid-area: card3;
	background-color: black;
	height: 130px;
	width: 155px;
}
.card4{
	grid-area: card4;
	background-color: black;
	height: 130px;
	width: 155px;
}

@media screen and (max-width: 430px){

}

@media(min-width:745px){


}