

*{
	box-sizing: border-box;	
}
body{
	background: #f2f2f2;
	color:#0d0d0d;
	line-height: 1.4;
	font-family: 'Segoe UI',Geneva,Verdana,sans-serif;
	padding: 3px;

}

.container{
	max-width: 1170px;
	padding:1em;

}
.box{
	box-shadow:  0 0 20px 0 rgba(13, 13, 13);

}

.section-1{
	background:#0d0d0d;
	color:#ffffff;
	
}
.section-1 h1{
	text-align: center;
	margin:0px;
	padding: 5px;
	font-family: Helvetica,Arial, sans-serif;
}
.section-1 p{
	padding: 1.5em;
	text-align: center;
}

.SignUp-link  {
	color: #ff751a;
	font-size: 15px;


}
.SignUp-link:visited{
	color: #ff751a;
}

.SignUp-link:hover {
	color:#e65c00;

}

/* Form */

.section-2 form{
	display: grid;
	grid-template-columns: 1fr;
	grid-column: 2/3;
	text-align: center;
	width: 100%;
	
	

}
.section-2 {
	text-align:center;
}
.btn button{

	background:#ff751a;
	color:#0d0d0d;
	border:0;
	margin:8px 0 0 0;
	padding:5px;
	font-family: Helvetica,Arial, sans-serif;
	font-size: 15px;
	border-radius: 4px;
	letter-spacing: 1px;
	margin: 1em 0 0 0;
	font-weight: bold;
	width:175px;
}
.section-2 form button:hover{
	background:#e65c00;
	
}


.last-p{
	margin:0px;
	padding: 0px 0px 1em 0px;
}

.forgot-link{
	color: #0d0d0d;
	font-size: 15px;
	

}


.forgot-link:hover {
	color:#e65c00;

}

.footer {
	background: #ffffff;
	padding: 50px;
}





/* minste mobil */

@media(max-width:430px){



body{
	background: #f2f2f2;
	color:#0d0d0d;
	line-height: 1.4;
	font-family: 'Segoe UI',Geneva,Verdana,sans-serif;
	padding: 0;
	margin: 0;

}
.container{
	margin-left:0;
	margin-right:0;
	padding:0;
	
	

}

}

/* Stort vindu */

@media(min-width:745px){


}
