
img{
	max-width: 100%;
	height: auto;
} 


@media (max-width: 767px){
	#omegalul{
		padding-right: 0px;
		padding-left: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.carousel-caption{
		font-size: 10px;
	}
}