
img{
	max-width: 100%;
	height: auto;
}
body{
	background-color: #E1E2E2;
}
#cardHeight{
	height: 300px;
}
#quiztxt{
	font-size: 2em;
}
@media (max-width: 1200px){
	#quiztxt{
		font-size: 1.5em;
	}
}
@media (max-width: 1000px){
	#quiztxt{
		font-size: 1em;
	}
}
